<div class="chat-container">
  <div class="title">
    <img src="gemini-icon.png" alt="Gemini Icon">
    <h1>Jira Task</h1>
  </div>
  <div class="chat-history">
    <div *ngFor="let message of chatHistory" [ngClass]="{'user-message': message.from === 'user', 'bot-message': message.from === 'bot'}">
      <!-- {{ message.message }} -->
      <span *ngIf="message.from === 'user'">{{ message.message }}</span>
      <span *ngIf="message.from === 'bot'" [innerHTML]="formatText(message.message)"></span>
    </div>
    <ng-container *ngIf="loading">
      <app-skeleton></app-skeleton>
   </ng-container>
  </div>
  <div class="chat-input">
    <textarea [(ngModel)]="prompt" placeholder="Type your message..." (keydown.enter)="sendData()"></textarea>
    <button (click)="sendData()" [disabled]="loading">Send</button>
  </div>

</div>
