<!-- <div class="Container">

  <div class="Tittle">
   <img src="gemini-icon.png"  alt="">
    <h1>ChatBot</h1>

  </div>

  <div class="MessageField">
    <ng-container *ngFor="let item of chatHistory">
      <div [ngClass]="{'blue':item.from === 'user','green':item.from === 'bot'}">
       
        <i class="bi" [ngClass]="{'bi-person-circle': item.from === 'user','bi-robot':item.from === 'bot'}"></i>
        <span ></span>
      </div>
    </ng-container>
  </div>

  <div class="InputField">
    <input type="text" class="Input" id="message-input" placeholder="Type Your Message..." (keyup.enter)="sendData()"
      [(ngModel)]="prompt">
    <button class="btn " (click)="sendData()"><i class="bi bi-send-fill"></i></button>

  </div>

</div> -->

<div class="container">
  <div class="right">
    <app-rightside></app-rightside>
  </div>
  <div class="left">
    <app-leftside></app-leftside>
  </div>
</div>
