.Container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(67, 58, 120);
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    // align-content: center;
    .Tittle{
        color: white;
    }
    .MessageField{
        width:80vw;
        height: 80vh;
        background-color: rgb(96, 83, 173);
    }

    .InputField{
        width:80vw;
        display: flex;
        justify-content:space-evenly ;
        .Input{
            width: 70vw;
            height: 7vh;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 20px ;
            text-align: center;
            font-size: 20px;
            // padding: 10px;
        }
    }
}